@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --neutral-color: #212327;
    --darker-color: #1A1C1F;
    --accent-color: #2E2F33;
    --light-color: #444649;
    --primary-color: #23DAF6;
    --primary-color-light: #7CF6FF;
    --primary-color-darker: #1A2529;
    --secondary-color: #BF5AF2;
    --tertiary-color: #FF2D55;
    --dashboard-color: #0C0E11;
    --text-color: #64758B;
    --white-color: #BBCDCE;
}


body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dashboard-color);
}

.app-container{
    display: flex;
    width: 100vw;
    height: 100%;
}

#canvas-container {
    flex-grow: 1;
    background-image: radial-gradient(#2d3136 1px, transparent 1px);
    background-size: 20px 20px;
}

.sidebar{
    height: 100vw;
    background-color: var(--darker-color);
    border-left: 1px solid var(--accent-color);
}

.sidebar nav {
    display: flex;
    flex-direction: row;
    padding: 0px 5px;
    border-bottom: 1px solid var(--accent-color);
}

.sidebar nav span {
    color: var(--text-color);
    font-family:  'Calibri', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

.sidebar nav span.selected {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.tool-btn{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #2f3136;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.tool-btn:hover{
    background-color: #40444b;
    border-color: #5865f2;
}

.rect-icon{
    width: 20px;
    height: 12px;
    background-color: var(--secondary-color);
    border-radius: 3px;
    border: 2px solid #ffffff;
}

.trash-zone{
    margin-top: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    color: var(--text-color);
    font-weight: bold;
    transition: all 0.3s ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.properties p{
    font-family: 'Mulish', sans-serif;
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
}

.properties {
    padding: 0px 10px;
}

.properties span p {
    font-size: 16px;
    color: var(--white-color);
    font-weight: normal;
}

.properties span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#node-id {
    color: var(--primary-color);
    background-color: var(--primary-color-darker);
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: small;
}

.size div p, .position div p {
    color: var(--text-color);
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    margin-left: 5px;
}

.input-number{
    background-color: var(--dashboard-color);
    width: calc(100% - 15px);
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.input-number p{
    margin: 0;
}

input[type=number]{
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

input:focus{
    outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.size, .position {
    gap: 15px;
}

div.fill p{
    color: var(--text-color);
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    margin-left: 5px;
}

div.fill input{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
}

textarea {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
    align-items: center;
}

.user-presence-container{
    display: flex;
    gap: 8px;
    margin-right: 15px;
}

.user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 20%;
    background-color: #5865f2;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--light-color);
    box-shadow: 0 0 4px var(--light-color);
    font-family: 'Courier New', Courier, monospace;
    cursor: help;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--neutral-color);
    padding: 5px;
    border-bottom: 1px solid var(--accent-color);
}

.app_name {
    color: var(--primary-color);
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
    text-shadow: 0px 0px 3px var(--primary-color);
}

#share, #export {
    padding: 8px 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
    margin-left: 15px;
}

#export {
    border: 1px solid var(--light-color);
    background-color: var(--accent-color);
    color: white;
}

#share {
    border: 1px solid var(--light-color);
    color: var(--neutral-color);
    background: linear-gradient(to left, var(--primary-color), var(--primary-color-light));
}

.links {
    display: flex;
    margin-right: 5px;
    align-items: center;
}

.divider {
    width: 1px;
    height: 28px;
    background-color: var(--light-color);
}
