body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #16181b;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#2d3136 1px, transparent 1px);
    background-size: 20px 20px;
}